#home {
  display: flex;
  background: #00000045;
  background-image: url(../assets/home-cover.png);
  background-blend-mode: darken;
  height: 639px;

.column {
  margin-top: 80px;

  img {
    display: block;
    margin-top: 21px;
    margin-bottom: 24px;
  }

  .home-text {
    font-size: 36px;
    font-weight: 600;
    color: white;
    width: 426px;
    opacity: 1;
  }


.divider {
  height: 30px;
}

  .home-small-text {
    font-size: 16px;
    letter-spacing: 0px;
    color: white;
    opacity: 0.8;
    width: 651px;
  }


button {
  height: 42px;
  width: 135px;
  color: white;
  border: 2px solid #FFFFFF;
  opacity: 1;
  background-color: transparent;
}
}
  @import "form";
}
