@media (max-width: 700px){
  // Navigation meniu
  nav {
    .menu-wrap {
      ul {
        li{
          a{
            display: none;
          }
        }
      }
    }
  }
}

.logo {
  margin-top: 15px;
}

@media (max-width: 700px){
  nav .nav-wrap .meniu-burger{
    display: block;
  }

  // homeArticle
  #home {
    flex-direction: column;
    .home-text {
      margin-top: 100px;
    }
  }

  #features {
    flex-direction: column;
    .features-buttons-wrapper {
      flex-direction: row;
    }
  }
}
